<div class="col" hx-target="this" hx-swap="outerHTML" hx-replace-url="false" hx-push-url="false">
    <label for="inputEmail" class="form-check-label h5">Email</label>
    <input id="inputEmail" name="email" class="form-control is-valid" hx-post="/api/validate/email" value={{ entry.email.S
        }}
        required>
</div>

<input type="text" hx-swap-oob="true" class="form-control is-valid" id='fname' name="fname" value="{{ entry.fname }}"
    aria-label="First name" required hx-post="/api/validate/name/fname">
<input type="text" hx-swap-oob="true" class="form-control is-valid" id='lname' name="lname" value="{{ entry.lname }}"
    aria-label="Last name" required hx-post="/api/validate/name/lname">
<input type="tel" hx-swap-oob="true" class="form-control is-valid" name="phone" id="inputPhone"
    value="{{ entry.phone.S }}" required hx-post="/api/validate/phone">
<input type="date" hx-swap-oob="true" class="form-control is-valid" id='birthdate' name="birthdate"
    value="{{ entry.birthdate }}" onload="calculateAge(this.value)" required hx-post="/api/validate/birthdate">
<p hx-swap-oob="true" id="ageClass">Age Group is <b>{{ entry.age_group }}</b></p>
<input type="text" hx-swap-oob="true" class="form-control is-valid" id='inputAge' name="age" value="{{ entry.age }}"
    aria-label="Age" readonly>
<input type="radio" hx-swap-oob="true" class="form-check-input" id='genderMale' name="gender" value="male" required
    {{ "checked" if entry.gender.S=='male' else "" }}>
<input type="radio" hx-swap-oob="true" class="form-check-input" id='genderFemale' name="gender" value="female" required
    {{ "checked" if entry.gender.S=='female' else "" }}>
{% if entry.age | int <= 17 %} <div class="row mt-2" hx-swap-oob="true" id="parentNameSection">
    <div class="col-md-6">
        <label for="inputParentName" class="form-check-label h5">Parent's Name</label>
        <input type="text" hx-swap-oob="true" class="form-control is-valid" inputParentName" name="parentName"
            value="{{ entry.parent.S if entry.parent.S else '' }}" aria-label="Parent's name"
            hx-post="/api/validate/name/parentName?id=inputParentName">
    </div>
    </div>
    {% endif %}
<select hx-swap-oob="true" class="form-select is-valid" id='inputSchool' name="school" hx-post="/api/validate/school"
    required>
    {% for school in schools %}
    <option {% if school==entry.school.S %}selected {% endif %}value="{{ school }}">{{ school }}</option>
    {% endfor %}
    <option value="unlisted">Not Listed - Please Specify Below</option>
</select>
<input type="text" hx-swap-oob="true" class="form-control is-valid" name="coach" id="inputCoach"
    value="{{ entry.coach.S }}" {{ "required" if reg_type=='competitor' else "" }} hx-post="/api/validate/name/coach">
{% if entry.allergy_list | count > 0 %}
<input type="radio" hx-swap-oob="true" class="form-check-input" id="allergyYes" name="allergies" value="Y"
    onclick="toggleAllergyList()" checked>
<div class="row mt-2" hx-swap-oob="true" id="allergyListSection">
    <label class="form-control-label" for="allergy_list">Please indicate which medications (one per line).</label>
    <div class="col-md-4">
        <textarea class="form-control" name="allergy_list" id="allergy_list"
            rows="3">{{ entry.allergy_list | join('\n') }}</textarea>
    </div>
</div>
{% else %}
<input type="radio" hx-swap-oob="true" class="form-check-input" id="allergyNo" name="allergies" value="N"
    onclick="toggleAllergyList()" checked>
{% endif %}

{% if entry.meds_list | count > 0 %}
<input type="radio" hx-swap-oob="true" class="form-check-input" id="medsYes" name="medications" value="Y"
    onclick="toggleMedsList()" checked>
<div class="row mt-2" hx-swap-oob="true" id="medsListSection">
    <label class="form-control-label" for="meds_list">Please indicate which medications (one per line).</label>
    <div class="col-md-4">
        <textarea class="form-control" name="meds_list" id="meds_list"
            rows="3">{{ entry.meds_list | join('\n') }}</textarea>
    </div>
</div>
{% else %}
<input type="radio" hx-swap-oob="true" class="form-check-input" id="medsNo" name="medications" value="N"
    onclick="toggleMedsList()" checked>
{% endif %}

{% if entry.medical_form.M.contacts.S == 'Y' %}
<input type="radio" hx-swap-oob="true" class="form-check-input" id="contactsYes" name="contacts" value="Y" checked>
{% else %}
<input type="radio" hx-swap-oob="true" class="form-check-input" id="contactsNo" name="contacts" value="N" checked>
{% endif %}

{% for mc in entry.medical_conditions %}
<input type="checkbox" hx-swap-oob="true" class="form-check-input" id="{{ mc }}" name="medical_conditions"
    value="{{ mc }}" checked onclick="updateMedicalConditionsList()">
{% endfor %}
<input class="form-control" hx-swap-oob="true" type="text" name="medicalConditionsList" id="medicalConditionsList"
    value="{{ entry.medical_conditions_list | join(', ') }}" hidden>