<div class="row" id="eventSection">
  <input class="form-control" type="text" name="eventList" id="eventList" hidden>
    <div class="col-md-6">
      <div class="row g-3 mt-0">
        <label for="events" class="form-check-label h5">Events</label>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="events" id="little_dragon" onchange="updateEventList(this.id)"
              disabled>
            <label class="form-check-label" for="little_dragon">Little Dragon Obstacle Course (4-7 yrs old)</label>
          </div>
          </div>
          <div class="row" id="t-shirt_option" hidden>
            <div class="col-sm-8">
              <div class="form-check">
                <label for="t-shirt" class="form-check-label">T-Shirt Size</label>
                <select id="t-shirt" class="form-select" name="t-shirt">
                  <option selected value="">Choose...</option>
                  <option value="XXS">XXS</option>
                  <option value="XS">XS</option>
                  <option value="S">S</option>
                </select>
              </div>
            </div>
          </div>
          </div>
      <div class="row">
        <div class="col-sm-6" id="sparringInput">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="events" id="sparring" onclick="updateEventList(this.id)">
            <label class="form-check-label" for="sparring">Sparring</label>
          </div>
        </div>
        <div class="col-sm-6" id="sparring-grInput" hidden>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="events" id="sparring-gr" onclick="updateEventList(this.id)">
            <label class="form-check-label" for="sparring-gr">Sparring - Grass Roots</label>
          </div>
        </div>
        <div class="col-sm-6" id="sparring-wcInput" hidden>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="events" id="sparring-wc" onclick="updateEventList(this.id)">
            <label class="form-check-label" for="sparring-wc">Sparring - World Class</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="events" id="breaking" onclick="updateEventList(this.id)">
            <label class="form-check-label" for="breaking">Breaking</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="events" id="weapons" onclick="updateEventList(this.id)">
            <label class="form-check-label" for="weapons">Weapons</label>
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-4">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="events" id="poomsae" onclick="updateEventList(this.id)">
            <label class="form-check-label" for="poomsae">Poomsae</label>
          </div>
        </div>
        <div class="col-sm-5" id="poomsaeFormSection" hidden>
          <div class="form-check">
            <select  class="form-select" name="poomsae form" id="poomsae form">
              <option selected value="">Choose...</option>
              <option value="1">Taegeuk 1 Jang</option>
              <option value="2">Taegeuk 2 Jang</option>
              <option value="3">Taegeuk 3 Jang</option>
              <option value="4">Taegeuk 4 Jang</option>
              <option value="5">Taegeuk 5 Jang</option>
              <option value="6">Taegeuk 6 Jang</option>
              <option value="7">Taegeuk 7 Jang</option>
              <option value="8">Taegeuk 8 Jang</option>
              <option value="Koryo">Koryo</option>
              <option value="Keumgang">Keumgang</option>
              <option value="Taebaek">Taebaek</option>
              <option value="Pyongwon">Pyongwon</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="events" id="pair poomsae" onclick="updateEventList(this.id)">
            <label class="form-check-label" for="pair poomsae">Pair Poomsae</label>
          </div>
        </div>
        <div class="col-sm-5" id="pair poomsaeFormSection" hidden>
          <div class="form-check">
            <select  class="form-select" name="pair poomsae form" id="pair poomsae form">
              <option selected value="">Choose...</option>
              <option value="1">Taegeuk 1 Jang</option>
              <option value="2">Taegeuk 2 Jang</option>
              <option value="3">Taegeuk 3 Jang</option>
              <option value="4">Taegeuk 4 Jang</option>
              <option value="5">Taegeuk 5 Jang</option>
              <option value="6">Taegeuk 6 Jang</option>
              <option value="7">Taegeuk 7 Jang</option>
              <option value="8">Taegeuk 8 Jang</option>
              <option value="Koryo">Koryo</option>
              <option value="Keumgang">Keumgang</option>
              <option value="Taebaek">Taebaek</option>
              <option value="Pyongwon">Pyongwon</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="events" id="team poomsae" onclick="updateEventList(this.id)">
            <label class="form-check-label" for="team poomsae">Team Poomsae</label>
          </div>
        </div>
        <div class="col-sm-5" id="team poomsaeFormSection" hidden>
          <div class="form-check">
            <select  class="form-select" name="team poomsae form" id="team poomsae form">
              <option selected value="">Choose...</option>
              <option value="1">Taegeuk 1 Jang</option>
              <option value="2">Taegeuk 2 Jang</option>
              <option value="3">Taegeuk 3 Jang</option>
              <option value="4">Taegeuk 4 Jang</option>
              <option value="5">Taegeuk 5 Jang</option>
              <option value="6">Taegeuk 6 Jang</option>
              <option value="7">Taegeuk 7 Jang</option>
              <option value="8">Taegeuk 8 Jang</option>
              <option value="Koryo">Koryo</option>
              <option value="Keumgang">Keumgang</option>
              <option value="Taebaek">Taebaek</option>
              <option value="Pyongwon">Pyongwon</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="events" id="family poomsae" onclick="updateEventList(this.id)">
            <label class="form-check-label" for="family poomsae">Family Poomsae</label>
          </div>
        </div>
        <div class="col-sm-5" id="family poomsaeFormSection" hidden>
          <div class="form-check">
            <select  class="form-select" name="family poomsae form" id="family poomsae form">
              <option selected value="">Choose...</option>
              <option value="1">Taegeuk 1 Jang</option>
              <option value="2">Taegeuk 2 Jang</option>
              <option value="3">Taegeuk 3 Jang</option>
              <option value="4">Taegeuk 4 Jang</option>
              <option value="5">Taegeuk 5 Jang</option>
              <option value="6">Taegeuk 6 Jang</option>
              <option value="7">Taegeuk 7 Jang</option>
              <option value="8">Taegeuk 8 Jang</option>
              <option value="Koryo">Koryo</option>
              <option value="Keumgang">Keumgang</option>
              <option value="Taebaek">Taebaek</option>
              <option value="Pyongwon">Pyongwon</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="events" id="freestyle poomsae"
              onclick="updateEventList(this.id)">
            <label class="form-check-label" for="Freestyle poomsae">Freestyle Poomsae</label>
          </div>
        </div>
      </div>
    </div>
  </div>