  <div class="row mt-2" id="parentNameSection" hidden>
    <div class="col-md-6" hx-target="this" hx-swap="innerHTML" hx-replace-url="false" hx-push-url="false">
      <label for="inputParentName" class="form-check-label h5">Parent's Name</label>
      <div hx-target="this" hx-swap="outerHTML" hx-replace-url="false" hx-push-url="false">
        <input type="text" class="form-control" id='inputParentName' name="parentName" placeholder="Parent's full name"
          aria-label="Parent's name" hx-post="/api/validate/name/parentName?id=inputParentName">
      </div>
    </div>
  </div>