boto3~=1.35.0
Flask~=3.0.0
Flask-Login~=0.6.0
argon2-cffi~=23.1.0
stripe~=10.10.0
zappa~=0.59.0
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability