<div class="col-md-12 center-block" align="center">
  <h1>Events & Divisions</h1>
  <sub>note: this table updates once a day.</sub>
</div>
<div class="table-responsive">
  <table id="competitors" class="display table table-striped table-hover dt-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Belt</th>
        <th>Age</th>
        <th>Weight Class</th>
        <th>School</th>
        <th>Events</th>
      </tr>
    </thead>
    <tbody>
      {% for c in competitor_dict %}
      <tr>
          <td>{{ c.name }}</td>
          <td>{{ c.gender }}</td>
          <td>{{ c.belt }}</td>
          <td>{{ c.age }}</td>
          <td>{{ c.weight_class }}</td>
          <td>{{ c.school }}</td>
          <td>{{ c.events | replace(",", ", ") }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Belt</th>
        <th>Age</th>
        <th>Weight (lbs)</th>
        <th>School</th>
        <th>Events</th>
      </tr>
    </tfoot>
  </table>
</div>