<div class="row justify-content-md-center">
  <div class="col-md-12 center-block" align="center">
    <h1>{{ reg_type|capitalize }} Registration Form</h1>
  </div>
</div>
<form action="/register" method="post" enctype=multipart/form-data id="eventRegistration">
  <!-- <div class="row mt-3">
    <label for="regType" class="form-check-label h5">Type</label>
  </div> -->
  <div class="row" hidden>
    <div class="col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="regChoice" id="competitor" onchange="updateFields()"  {{ "checked" if reg_type=='competitor' else "" }} >
        <label class="form-check-label" for="competitor">Competitor</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="regChoice" id="coach" onchange="updateFields()" {{ "checked" if reg_type=='coach' else "" }} >
        <label class="form-check-label" for="coach">Coach</label>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <label for="inputName" class="form-check-label h5">Name</label>
  </div>
  <div class="row g-3">
    <div class="col">
      <input type="text" class="form-control" name="fname" placeholder="First name" aria-label="First name" required>
    </div>
    <div class="col">
      <input type="text" class="form-control" name="lname" placeholder="Last name" aria-label="Last name" required>
    </div>
  </div>
  <div class="row mt-2" {{ "" if reg_type=='competitor' else "hidden" }}>
    <div class="col">
      <label for="inputParentName" class="form-check-label h5">Parent's Name</label>
      <input type="text" class="form-control" name="inputParentName" id="inputParentName"
        placeholder="Parent's full name" aria-label="Parent's name" required>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <label for="inputEmail" class="form-check-label h5">Email</label>
      <input type="email" class="form-control" name="email" id="inputEmail" required>
    </div>
    <div class="col">
      <label for="inputPhone" class="form-check-label h5">Phone</label>
      <input type="phone" class="form-control" name="phone" id="inputPhone" pattern="^\d{3}-\d{3}-\d{4}$" oninvalid="setCustomValidity('Please enter a valid phone number.')" oninput="setCustomValidity('')" onchange="formatPhoneNumber(this.value)" required>
    </div>
  </div>
  <!-- <div class="row g-3 mt-0">
    <div class="col-12">
      <label for="location-input" class="form-check-label h5">Address</label>
      <input type="text" class="form-control" name="address1" id="location-input" placeholder="1234 Main St" required autocomplete="off">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-check-label h5">Address 2</label>
      <input type="text" class="form-control" name="address2" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
      <label for="locality-input" class="form-check-label h5">City</label>
      <input type="text" class="form-control" name="city" id="locality-input" required>
    </div>
    <div class="col-md-4">
      <label for="administrative_area_level_1-input" class="form-check-label h5">State</label>
      <select id="administrative_area_level_1-input" class="form-select" name="state" required>
        <option selected>Choose...</option>
        <option value="AK">Alaska</option>
        <option value="AL">Alabama</option>
        <option value="AR">Arkansas</option>
        <option value="AZ">Arizona</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DC">District of Columbia</option>
        <option value="DE">Delaware</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="IA">Iowa</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="MA">Massachusetts</option>
        <option value="MD">Maryland</option>
        <option value="ME">Maine</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MO">Missouri</option>
        <option value="MS">Mississippi</option>
        <option value="MT">Montana</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="NE">Nebraska</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NV">Nevada</option>
        <option value="NY">New York</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="PR">Puerto Rico</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VA">Virginia</option>
        <option value="VT">Vermont</option>
        <option value="WA">Washington</option>
        <option value="WI">Wisconsin</option>
        <option value="WV">West Virginia</option>
        <option value="WY">Wyoming</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="postal_code-input" class="form-check-label h5">Zip</label>
      <input type="text" class="form-control" name="zip" id="postal_code-input" required>
    </div>
  </div> -->
  <div class="row g-3 mt-1" id="classSection" {{ "" if reg_type=='competitor' else "hidden" }}>
    <div class="col-md-6">
      <div class="row g-3">
        <div class="col-md-8">
          <label class="form-check-label h5" for="date">Birthday</label>
          <div class="input-group date" id="datepicker">
            <input class="form-control" type="text" name="birthdate" id="birthdate" placeholder="MM/DD/YYYY" onchange="calculateAge(this.value)" {{ "required" if reg_type=='competitor' else "" }}>
            <span class="input-group-append">
              <span class="input-group-text bg-light d-block">
                <i class="fa fa-calendar"></i>
              </span>
            </span>
          </div>
        </div>
        <div class="col-md-2">
          <label class="form-check-label h5">Age</label>
          <input class="form-control" type="text" name="age" id="inputAge" readonly>
        </div>
      </div>
      <div class="row g-3">
        <p id="ageClass"></p>
      </div>
    </div>
    <div class="col-md-2">
      <label class="form-check-label h5">Gender</label>
      <div class="row">
        <div class="col">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="genderMale" value="male" {{ "required" if reg_type=='competitor' else "" }}>
            <label class="form-check-label" for="genderMale">Male</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="female" {{ "required" if reg_type=='competitor' else "" }}>
            <label class="form-check-label" for="genderFemale">Female</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row mt-1">
        <div class="col-md-4">
          <label class="form-check-label h5" for="weightLbs">Weight</label>
          <input class="form-control" name="weight" ="number" step="0.01" id="weightLbs" placeholder="lbs" {{ "required" if reg_type=='competitor' else "" }}>
        </div>
        <div class="col-md-4">
          <label class="form-check-label h5" for="height">Height</label>
          <input class="form-control" type="number" step="0.01" name="heightFt" id="heightFt" placeholder="ft" {{ "required" if reg_type=='competitor' else "" }}>
          <input class="form-control" type="number" step="0.01" name="heightIn" id="heightIn" placeholder="in" {{ "required" if reg_type=='competitor' else "" }}>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row g-3 mt-0" id="profile" {{ "" if reg_type=='competitor' else "hidden" }}>
    <div class="col-md-6">
      <label class="form-check-label h5" for="profilePic">Profile Photo</label>
      <input type="file" class="form-control" name="profilePic" id="profilePic" accept="image/png, image/jpeg" onchange="upload_img(this.files)" {{ "required" if reg_type=='competitor' else "" }}>
      <p>
        A photo is required to create a badge id. <br>
        Please make sure photo is croped showing only an above the shoulder picture. <br>
        You can use <a href="https://www.simpleimageresizer.com/resize-image-to-2-mb" target="_blank">this image resizer site</a> if you need to compress your image.
      </p>
    </div>
    <div class="col-md-6">
      <img id="profileImg">
    </div>
  </div>-->
  <div class="row g-3 mt-1">
    <div class="col-md-6">
      <label for="inputSchool" class="form-check-label h5">Taekwondo School Or Club</label>
      <input type="text" class="form-control" name="school" id="inputSchool" required>
    </div>
    <div class="col-md-6" id="coachSection" {{ "" if reg_type=='competitor' else "hidden" }}>
      <label for="inputCoach" class="form-check-label h5">Taekwondo Instructor / Coach</label>
      <input type="text" class="form-control" name="coach" id="inputCoach" {{ "required" if reg_type=='competitor' else "" }}>
    </div>
  </div>
  <div class="row" id="beltSection" hidden>
    <div class="col-md-4">
      <div class="row g-3 mt-0">
        <label for="belt" class="form-check-label h5">Belt Rank</label>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="beltRank" id="blackBelt" value="black" onclick="updateEventOptions()" {{ "required" if reg_type=='competitor' else "" }}>
            <label class="form-check-label" for="blackBelt">Black</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="beltRank" id="brownBelt" value="brown" onclick="updateEventOptions()" {{ "required" if reg_type=='competitor' else "" }}>
            <label class="form-check-label" for="brownBelt">Brown</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="beltRank" id="redBelt" value="red" onclick="updateEventOptions()" {{ "required" if reg_type=='competitor' else "" }}>
            <label class="form-check-label" for="redBelt">Red</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="beltRank" id="blueBelt" value="blue" onclick="updateEventOptions()" {{ "required" if reg_type=='competitor' else "" }}>
            <label class="form-check-label" for="blueBelt">Blue</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="beltRank" id="greenBelt" value="green" onclick="updateEventOptions()" {{ "required" if reg_type=='competitor' else "" }}>
            <label class="form-check-label" for="greenBelt">Green</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="beltRank" id="orangeBelt" value="orange" onclick="updateEventOptions()" {{ "required" if reg_type=='competitor' else "" }}>
            <label class="form-check-label" for="orangeBelt">Orange</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="beltRank" id="yellowBelt" value="yellow" onclick="updateEventOptions()" {{ "required" if reg_type=='competitor' else "" }}>
            <label class="form-check-label" for="yellowBelt">Yellow</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="beltRank" id="whiteBelt" value="white" onclick="updateEventOptions()" {{ "required" if reg_type=='competitor' else "" }}>
            <label class="form-check-label" for="whiteBelt">White</label>
          </div>
        </div>
      </div>
      <div class="row" id="blackBeltDanSection" hidden>
        <div class="col-md-6">
          <label for="blackBeltDan" class="form-check-label h5">Black Belt Dan/Poom</label>
          <select id="blackBeltDan" class="form-select" name="blackBeltDan">
            <option selected value="1">1st</option>
            <option value="2">2nd</option>
            <option value="3">3rd</option>
            <option value="4">4th or higher</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div class="row g-2 mt-2">
        <p id="costDetail"></p>
      </div>
    </div>
  </div>
  <div class="row" id="eventSection" hidden>
    <div class="col-md-6">
      <div class="row g-3 mt-0">
        <label for="events" class="form-check-label h5">Events</label>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="eventType" id="little_tiger" onchange="updateEventOptions()" disabled>
            <label class="form-check-label" for="competitor">Little Tiger Showcase</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="eventType" id="competitive" onchange="updateEventOptions()" checked>
            <label class="form-check-label" for="coach">Competitive Events</label>
          </div>
        </div>
      </div>
      <hr>
      <div class="row" id="competitiveEventsSection">
        <div class="row">
          <div class="col-sm-6" id="sparringInput">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="events" id="sparring" onclick="updateEventList(this.id)">
              <label class="form-check-label" for="sparring">Sparring</label>
            </div>
          </div>
          <div class="col-sm-6" id="sparring-grInput" hidden>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="events" id="sparring-gr" onclick="updateEventList(this.id)">
              <label class="form-check-label" for="sparring-gr">Sparring - Grass Roots</label>
            </div>
          </div>
          <div class="col-sm-6" id="sparring-wcInput" hidden>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="events" id="sparring-wc" onclick="updateEventList(this.id)">
              <label class="form-check-label" for="sparring-wc">Sparring - World Class (Additional ${{ price_dict['World Class']['price'] }})</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="events" id="breaking" onclick="updateEventList(this.id)">
              <label class="form-check-label" for="breaking">Breaking (Additional ${{ price_dict['Breaking']['price'] }})</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="events" id="poomsae" onclick="updateEventList(this.id)">
              <label class="form-check-label" for="poomsae">Poomsae</label>
            </div>
          </div>
          <div class="col-sm-5" id="poomsaeFormSection" hidden>
            <div class="form-check">
              <select  class="form-select" name="poomsae form" id="poomsae form">
                <option selected value="1">Taegeuk 1 Jang</option>
                <option value="2">Taegeuk 2 Jang</option>
                <option value="3">Taegeuk 3 Jang</option>
                <option value="4">Taegeuk 4 Jang</option>
                <option value="5">Taegeuk 5 Jang</option>
                <option value="6">Taegeuk 6 Jang</option>
                <option value="7">Taegeuk 7 Jang</option>
                <option value="8">Taegeuk 8 Jang</option>
                <option value="9">Koryo</option>
                <option value="10">Keumgang</option>
                <option value="11">Taebaek</option>
                <option value="12">Pyongwon</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="events" id="pair poomsae" onclick="updateEventList(this.id)">
              <label class="form-check-label" for="pair poomsae">Pair Poomsae</label>
            </div>
          </div>
          <div class="col-sm-5" id="pair poomsaeFormSection" hidden>
            <div class="form-check">
              <select  class="form-select" name="pair poomsae form" id="pair poomsae form">
                <option selected value="1">Taegeuk 1 Jang</option>
                <option value="2">Taegeuk 2 Jang</option>
                <option value="3">Taegeuk 3 Jang</option>
                <option value="4">Taegeuk 4 Jang</option>
                <option value="5">Taegeuk 5 Jang</option>
                <option value="6">Taegeuk 6 Jang</option>
                <option value="7">Taegeuk 7 Jang</option>
                <option value="8">Taegeuk 8 Jang</option>
                <option value="9">Koryo</option>
                <option value="10">Keumgang</option>
                <option value="11">Taebaek</option>
                <option value="12">Pyongwon</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="events" id="team poomsae" onclick="updateEventList(this.id)">
              <label class="form-check-label" for="team poomsae">Team Poomsae</label>
            </div>
          </div>
          <div class="col-sm-5" id="team poomsaeFormSection" hidden>
            <div class="form-check">
              <select  class="form-select" name="team poomsae form" id="team poomsae form">
                <option selected value="1">Taegeuk 1 Jang</option>
                <option value="2">Taegeuk 2 Jang</option>
                <option value="3">Taegeuk 3 Jang</option>
                <option value="4">Taegeuk 4 Jang</option>
                <option value="5">Taegeuk 5 Jang</option>
                <option value="6">Taegeuk 6 Jang</option>
                <option value="7">Taegeuk 7 Jang</option>
                <option value="8">Taegeuk 8 Jang</option>
                <option value="9">Koryo</option>
                <option value="10">Keumgang</option>
                <option value="11">Taebaek</option>
                <option value="12">Pyongwon</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="events" id="family poomsae" onclick="updateEventList(this.id)">
              <label class="form-check-label" for="family poomsae">Family Poomsae</label>
            </div>
          </div>
          <div class="col-sm-5" id="family poomsaeFormSection" hidden>
            <div class="form-check">
              <select  class="form-select" name="family poomsae form" id="family poomsae form">
                <option selected value="1">Taegeuk 1 Jang</option>
                <option value="2">Taegeuk 2 Jang</option>
                <option value="3">Taegeuk 3 Jang</option>
                <option value="4">Taegeuk 4 Jang</option>
                <option value="5">Taegeuk 5 Jang</option>
                <option value="6">Taegeuk 6 Jang</option>
                <option value="7">Taegeuk 7 Jang</option>
                <option value="8">Taegeuk 8 Jang</option>
                <option value="9">Koryo</option>
                <option value="10">Keumgang</option>
                <option value="11">Taebaek</option>
                <option value="12">Pyongwon</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="events" id="freestyle poomsae"
                onclick="updateEventList(this.id)">
              <label class="form-check-label" for="Freestyle poomsae">Freestyle Poomsae</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-3 mt-0" id="liabilityTextSection" {{ "" if reg_type=='competitor' else "hidden" }}>
    <div class="col-md-6">
      <label for="liability" class="form-check-label h3">Liability Waiver</label>
      <p class="p-3 mb-2 bg-light text-dark">
      In consideration of your acceptance of my registration, I do hereby, for myself, executors, and administrator waive,
      release and forever discharge any and all right claims for damages which I may have, or which may accrue to me, 
      against {{competition_name}} and for its state and district associations, {{competition_name}}, or their respective officer, 
      agents, representatives, successors, and/or assigns, and against any of my competitors for any and all damages 
      which may be sustained by me in connection with my association or entry in the above athletic meet and competition 
      and in connection with any medical services I may be provided in connection with such injury or illness, 
      or which may arise out of traveling to, participating in, and returning from this athletic meet.  
      I understand that Taekwondo is a body contact sport, and I further understand all contents of the {{competition_year}} 
      rules and regulations and general information which was published by the sponsors and I agree with them in their entirety. 
      I further understand that I may be dismissed from the premises without compensation or refund if my conduct is not courteous 
      and cooperative for the successful operation of the championships.
      </p>
    </div>
  </div>
  <div class="col-sm-6" id="liabilityAcceptSection" {{ "" if reg_type=='competitor' else "hidden" }}>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="liability" id="liability" {{ "required" if reg_type=='competitor' else "" }}>
      <label class="form-check-label" for="liability">I hereby agree to all terms and conditions of the liability waiver above</label>
    </div>
  </div>
  <div class="row g-3 mt-3 p-3 mb-2 mt-2">
    <div class="col-md-8">
      <label class="form-check-label h2" for="demonstration">Your Total</label>
      <input class="form-control-plaintext form-control-lg" type="text" id="total" aria-label="Total" value="{{ '$0' if reg_type=='coach' else '' }}" readonly required>
    </div>
  </div>
  <input class="form-control" type="text" name="eventList" id="eventList" hidden>
  <input class="form-control" type="text" name="regType" id="regType" value="{{ reg_type }}" hidden required>
  <button type="submit" class="btn {{ button_style }}">Register</button>
</form>
<script>
  window.okgp = {}
  window.okgp.early_reg_date = new Date("{{ early_reg_date }} 23:59:59")
  window.okgp.price_dict = {
    addl_event: "{{ price_dict['Additional Event']['price'] }}",
    little_tiger: "{{ price_dict['Little Tiger Showcase']['price'] }}",
    registration: "{{ price_dict['Registration']['price'] }}",
    world_class: "{{ price_dict['World Class']['price'] }}",
    breaking: "{{ price_dict['Breaking']['price'] }}",
    coach: "{{ price_dict['Coach Registration']['price'] }}",
    coupon: "{{ early_reg_coupon_amount }}"
  }
</script>