<input class="form-control" type="text" name="regType" id="regType" value="seminar" hidden required>
<div class="row g-3 mt-1" id="classSection">
  <div class="col-md-6">
    <div class="row g-3">
      <div class="col-md-8">
        <label class="form-check-label h5" for="date">Birthday</label>
        <div class="input-group date">
          <input class="form-control" type="date" name="birthdate" id="birthdate" placeholder="MM/DD/YYYY"
            onchange="calculateAge(this.value)" required>
        </div>
      </div>
      <div class="col-md-2">
        <label class="form-check-label h5">Age</label>
        <input class="form-control" type="text" name="age" id="inputAge" readonly>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <label class="form-check-label h5">Gender</label>
    <div class="row">
      <div class="col">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="genderMale" value="male" required>
          <label class="form-check-label" for="genderMale">Male</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="female" required>
          <label class="form-check-label" for="genderFemale">Female</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2" id="ageError" hidden>
  <div class="col-sm-4 bg-danger">
    <h5>Seminar is for students aged 7 and older.</h5>
  </div>
</div>
<div class="row mt-2" id="parentNameSection" hidden>
  <div class="col-md-6">
    <label for="inputParentName" class="form-check-label h5">Parent's Name</label>
    <input type="text" class="form-control" name="parentName" id="inputParentName" placeholder="Parent's full name"
      aria-label="Parent's name">
  </div>
</div>
<div class="row g-3 mt-1">
  <div class="col-md-6">
    <label for="inputSchool" class="form-check-label h5">Taekwondo School Or Club</label>
    <select id="inputSchool" class="form-select" name="school" onchange="checkForUnlisted(this.value)" required>
      <option selected value="">School...</option>
      {% for school in schools %}
      <option value="{{ school }}">{{ school }}</option>
      {% endfor %}
      <option value="unlisted">Not Listed - Please Specify Below</option>
    </select>
    <div id="unlistedSchoolSection" hidden>
      <label for="inputUnlistedSchool" class="form-check-label">School Name</label>
      <input type="text" class="form-control" name="unlistedSchool" id="inputUnlistedSchool">
    </div>
  </div>
</div>
<div class="row" id="beltSection">
  <div class="col-md-4">
    <div class="row g-3 mt-0">
      <label for="belt" class="form-check-label h5">Belt Rank</label>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="beltRank" id="blackBelt" value="black"
            onchange="toggleBlackBeltDanSection()">
          <label class="form-check-label" for="blackBelt">Black</label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="beltRank" id="brownBelt" value="brown"
            onchange="toggleBlackBeltDanSection()">
          <label class="form-check-label" for="brownBelt">Brown</label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="beltRank" id="redBelt" value="red"
            onchange="toggleBlackBeltDanSection()">
          <label class="form-check-label" for="redBelt">Red</label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="beltRank" id="blueBelt" value="blue"
            onchange="toggleBlackBeltDanSection()">
          <label class="form-check-label" for="blueBelt">Blue</label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="beltRank" id="greenBelt" value="green"
            onchange="toggleBlackBeltDanSection()">
          <label class="form-check-label" for="greenBelt">Green</label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="beltRank" id="orangeBelt" value="orange"
            onchange="toggleBlackBeltDanSection()">
          <label class="form-check-label" for="orangeBelt">Orange</label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="beltRank" id="yellowBelt" value="yellow"
            onchange="toggleBlackBeltDanSection()">
          <label class="form-check-label" for="yellowBelt">Yellow</label>
        </div>
      </div>
    </div>
    <div class="row" id="blackBeltDanSection" hidden>
      <div class="col-md-6">
        <label for="blackBeltDan" class="form-check-label h5">Black Belt Dan/Poom</label>
        <select id="blackBeltDan" class="form-select" name="blackBeltDan">
          <option selected value="1">1st</option>
          <option value="2">2nd</option>
          <option value="3">3rd</option>
          <option value="4">4th or higher</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <div class="row g-2 mt-2">
      <p id="costDetail"></p>
    </div>
  </div>
</div>