  <div class="row g-3 mt-0" id="liabilityTextSection">
    <div class="col-md-5">
      <div class="row g-3 mt-0">
        <label for="liability" class="form-check-label h2">Liability Waiver</label>
        <p class="p-3 mb-2 bg-light text-dark">
        In consideration of your acceptance of my registration, I do hereby, for myself, executors, and administrator waive,
        release and forever discharge any and all right claims for damages which I may have, or which may accrue to me, 
        against {{competition_name}} and for its state and district associations, {{competition_name}}, or their respective officer, 
        agents, representatives, successors, and/or assigns, and against any of my competitors for any and all damages 
        which may be sustained by me in connection with my association or entry in the above athletic meet and competition 
        and in connection with any medical services I may be provided in connection with such injury or illness, 
        or which may arise out of traveling to, participating in, and returning from this athletic meet.  
        I understand that Taekwondo is a body contact sport, and I further understand all contents of the {{competition_year}} 
        rules and regulations and general information which was published by the sponsors and I agree with them in their entirety. 
        I further understand that I may be dismissed from the premises without compensation or refund if my conduct is not courteous 
        and cooperative for the successful operation of the championships.
        </p>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="liability" id="liability" required>
        <label class="form-check-label" for="liability">I hereby agree to all terms and conditions of the liability waiver above</label>
      </div>
    </div>
  </div>