<!-- Modal for Entry Lookup Prompt -->
<div class="modal fade" id="entryLookupDialog" tabindex="-1" role="dialog" aria-labelledby="entryLookupLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="entryLookupLabel">Select Entry</h5>
      </div>
      <div class="modal-body">
        <form>
          <select class="form-select" id=entrySelect size="3" aria-label="Entry Selection">
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Select</button>
      </div>
    </div>
  </div>
</div>