  <input class="form-control" type="text" name="regType" id="regType" value="{{ reg_type }}" hidden required>
  <div class="row mt-2">
    <label for="inputName" class="form-check-label h5">Name</label>
  </div>
  <div class="row g-3">
    <div class="col">
      <input type="text" class="form-control" name="fname" placeholder="First name" aria-label="First name" required>
    </div>
    <div class="col">
      <input type="text" class="form-control" name="lname" placeholder="Last name" aria-label="Last name" required>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <label for="inputEmail" class="form-check-label h5">Email</label>
      <input type="email" class="form-control" name="email" id="inputEmail" required>
    </div>
    <div class="col">
      <label for="inputPhone" class="form-check-label h5">Phone</label>
      <input type="phone" class="form-control" name="phone" id="inputPhone" pattern="^\d{3}-\d{3}-\d{4}$" oninvalid="setCustomValidity('Please enter a valid phone number.')" oninput="setCustomValidity('')" onchange="formatPhoneNumber(this.value)" required>
    </div>
  </div>