<div class="row mt-2">
  <h5>T-Shirts</h5>
</div>
{% for category,sizes in size_dict.items() %}
  <div class="row mt-2">
    <h5>{{ category }}</h5>
    </div>
    <div class="row mt-2">
      {% for size in sizes %}
    <div class="col-sm-1">
      <input class="form-check-input" type="checkbox" id="bool_tshirt_{{ size }}" value="{{ size }}"
        onclick="enableSize(this.value)">
      <label for="bool_tshirt_{{ size }}" class="form-check-label h5">{{ size }}</label>
      <!-- </div> -->
      <div class="row" id="section_tshirt_{{ size }}" hidden>
        <div class="col mt-1">
          <input class="form-control" type="number" name="tshirt_{{ size }}" id="tshirt_{{ size }}" value="0" min="0" max="10"
            onchange="updateTotal()" />
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
{% endfor %}