<a class="btn btn-primary" href="/" role="button">Home</a>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="table-dark" scope="col" colspan="4"><h1>Schedule</h1></th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th class="table-danger" scope="col" colspan="4"><h4>Friday, March 1, 2023</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="table-primary">2:00pm-6:00pm</th>
          <td>Volunteer Meeting<br/>
            Sparring & Poomsae Technical Meeting</td>
          <td rowspan="4" class="table-warning text-center align-middle"><a href="https://maps.app.goo.gl/qwnHzqHyuLBjksF48" target="_blank">Golden Dragon TKD - Tulsa</a></td>
        </tr>
        <tr>
          <th scope="row" class="table-primary">4:00pm-9:00pm</th>
          <td>Credential Pick Up for ALL Competitors</td>
        </tr>
        <tr>
          <th scope="row" class="table-primary">4:00pm-9:00pm</th>
          <td>Coach Credential Pick Up <b>Only</b></td>
        </tr>
        <tr>
          <th scope="row" class="table-primary">4:00pm-7:00pm</th>
          <td>Referee Seminar</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th class="table-danger" scope="col" colspan=4><h4>Saturday, March 2, 2023</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="table-primary">7:00am</th>
          <td>Meeting for Volunteers</td>
          <td rowspan="10" class="table-warning text-center align-middle"><a href="https://maps.app.goo.gl/irmtRUtFCT3RAhcm9" target="_blank">UMAC Tulsa Gymnasium</a></td>
        </tr>
        <tr>
          <th scope="row" class="table-primary">8:00am</th>
          <td>Doors Open for Spectators</td>
        </tr>
        <tr>
          <th scope="row" class="table-primary">8:00am-9:00am</th>
          <td>Coaches Meeting</td>
        </tr>
        <tr>
          <th scope="row" class="table-primary" rowspan="4">9:00am-11:00am</th>
          <td class="table-warning"><b>Poomsae</b> and <b>Breaking</b> For All Ranks And Age</td>
        </tr>
        <tr>
          <td><i>Color Belts <b>9 Years</b> and under and Black Belts <b>18 years</b> and older</i><br/>
            must all be in the holding area by <b>9:00 am</b></td>
        </tr>
        <tr>
          <td>All other color belts and black belts must be in holding area by <b>9:30am</b></td>
        </tr>
        <tr>
          <td class="table-warning"><b>Weigh-in</b> for Black Belt Sparring</td>
        </tr>
        <tr>
          <th scope="row" class="table-primary">11:00am-12:00pm</th>
          <td>Open Ceremony<br/>
            Demo Team Special Event</td>
        </tr>
        <tr>
          <th scope="row" class="table-primary">12:00pm-12:30pm</th>
          <td>Lunch Break</td>
        </tr>
        <tr>
          <th scope="row" class="table-primary">12:30pm-Finish</th>
          <td class="table-warning"><b>Sparring</b> - All Divisions</td>
        </tr>
      </tbody>
    </table>
  </div>