<div id="parent-div">
  <div class="row justify-content-md-center">
    <div class="col-md-12 center-block" align="center">
      <h1>Add {{ reg_type|capitalize }} Registration</h1>
    </div>
  </div>
  <form hx-post="/add_entry?reg_type={{ reg_type }}" hx-trigger="submit_btn" hx-target="#parent-div" hx-swap="outerHTML"
    hx-replace-url="true" hx-push-url="true" enctype=multipart/form-data id="eventRegistration">
    {% include "partials/form_common.html" %}
    {% if reg_type == 'competitor' %}
    {% if enable_address %}
    {% include "partials/form_address.html" %}
    {% endif %}
    {% include "partials/form_class.html" %}
    {% include "partials/form_parent.html" %}
    {% if enable_badges %}
    {% include "partials/form_profile.html" %}
    {% endif %}
    {% endif %}
    {% include "form/class.html" %}
    {% include "form/parent.html" %}
    {% if enable_badges %}
    {% include "form/profile.html" %}
    {% endif %}
    {% endif %}
    {% include "form/school.html" %}
    {% if reg_type == 'competitor' %}
    {% include "partials/form_belt.html" %}
    {% include "partials/form_events.html" %}
    {% include "partials/form_medical_manual.html" %}
    {% endif %}
    <div hidden>
      {% include "form/total.html" %}
    </div>
    <div class="row g-3 mt-2">
      <div class="col-sm-2">
        <button type="submit" class="btn {{ button_style }}">Register</button>
      </div>
    </div>
  </form>
  {% include "form/lookup_modal.html" %}
  {% include "script/okgp_prices.html" %}
</div>