{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="row justify-content-md-center flashes">
    <div class="col-md-12 center-block" align="center">
        <h3 class="{{ category }}">{{ message }}</h3>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="row">
    <div class="col-md-12 center-block" align="center">
        <h1>Entries</h1>
    </div>
</div>
<div class="table-responsive">
    <table id="entries" class="display table table-striped table-hover dt-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Type</th>
                <th>School</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Type</th>
                <th>School</th>
                <th>Edit</th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    $(document).ready(function () {
        var table = $('#entries').DataTable({
            reponsive: true,
            ajax: '/api/entries',
            searchPanes: {
                cascadePanes: true,
                initCollapsed: true,
            },
            columns: [
                {
                    targets: 0,
                    data: "full_name.S"
                },
                {
                    target: 1,
                    data: "email.S",
                    searchable: true,
                },
                {
                    target: 2,
                    data: "phone.S",
                    searchable: true,
                },
                {
                    target: 3,
                    data: "reg_type.S",
                    searchable: true,
                    searchPanes: {
                        show: true
                    }
                },
                {
                    target: 4,
                    data: "school.S",
                    searchable: true,
                    searchPanes: {
                        show: true
                    }
                },
                {
                    target: 5,
                    data: "pk.S",
                    searchable: false,
                    render: {
                        _: function (data, type, row) {
                            return '<a class="btn {{ button_style }}" href="/edit_entry?pk=' + data + '" role="button">Edit</a>';
                        }
                    }

                }
            ],
        });
        table.searchPanes.container().prependTo(table.table().container());
        table.searchPanes.resizePanes();
    });
</script>