<div class="row mb-3">
    <div class="col-md-6" align="left">
        <a class="btn {{ button_style }}" href="/export" role="button">Export</a>
        <a class="btn {{ button_style }}" hx-get="/upload/schedule" hx-trigger="click" hx-target="#admin-content-div"
            hx-swap="innerHTML"
            hx-replace-url="true" hx-push-url="true" role="button">Upload Schedule</a>
        <a class="btn {{ button_style }}" hx-get="/upload/booklet" hx-trigger="click" hx-target="#admin-content-div"
            hx-swap="innerHTML"
            hx-replace-url="true" hx-push-url="true" role="button">Upload Information Booklet</a>
        <a class="btn {{ button_style }}" hx-get="/schools" hx-trigger="click" hx-target="#admin-content-div"
            hx-swap="innerHTML" hx-replace-url="true" hx-push-url="true" role="button">Update Schools</a>
    </div>
    <div class="col-md-6" align="right">
        <a class="btn {{ button_style }}" hx-get="/add_entry?reg_type=competitor" hx-trigger="click"
            hx-target="#admin-content-div" hx-replace-url="true" hx-push-url="true" role="button">Add Competitor</a>
        <a class="btn {{ button_style }}" hx-get="/add_entry?reg_type=coach" hx-trigger="click"
            hx-target="#admin-content-div" hx-replace-url="true" hx-push-url="true" role="button">Add Coach</a>
        <a class="btn {{ button_style }}" href="/logout" role="button">Logout</a>
    </div>
</div>
<div id="admin-content-div">
    {% include "admin_entries.html" %}
    </div>
