{% extends "base.html" -%}
{% block content -%}
<div class="col-md-12 center-block" align="center">
    <h1>Coaches</h1>
  </div>
  <div class="table-responsive">
    <table id="coaches" class="display table table-striped table-hover dt-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>School</th>
        </tr>
      </thead>
      <tbody>
        {% for e in entries %}
        <tr>
            <td>{{ e.full_name.S }}</td>
            <td>{{ e.school.S }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>School</th>
        </tr>
      </tfoot>
    </table>
  </div>
{%- endblock content %}