<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ competition_year }} {{ competition_name }}</title>
    <link rel="icon" type="image/x-icon" href="{{ favicon_url }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <div class="col-md-12" id="buttons" align="right">
      <a class="btn {{ button_style }}" role="button" onclick="printPage();">Print</a>
      <a class="btn {{ button_style }}" role="button" onclick="tableToCSV();">Download CSV</a>
    </div>
    <div class="col-md-12 center-block" align="center">
        <h1>{{ competition_year }} {{ competition_name }}</h1>
      </div>
      <div class="table-responsive">
        <table id="competitors" class="display table table-striped table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Gender</th>
              <th>Belt</th>
              <th>Age</th>
              <th>Weight</th>
              <th>School</th>
              <th>Events</th>
            </tr>
          </thead>
          <tbody>
            {% for e in entries %}
            <tr>
                <td>{{ e.full_name.S }}</td>
                <td>{{ e.gender.S }}</td>
                {% if 'black' in e.beltRank.S %}
                <td>black</td>
                {% else %}
                <td>{{ e.beltRank.S }}</td>
                {% endif %}
                <td>{{ e.age.N }}</td>
                <td>{{ e.weight.N }} lbs</td>
                <td>{{ e.school.S }}</td>
                <td>{{ e.events.S | replace(",", ", ") }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Gender</th>
              <th>Belt</th>
              <th>Age</th>
              <th>Weight</th>
              <th>School</th>
              <th>Events</th>
            </tr>
          </tfoot>
        </table>
      </div>
  </body>
  <script type="text/javascript">
    function printPage() {
      document.getElementById("buttons").hidden = true;
      window.print();
      document.getElementById("buttons").hidden = false;
    }
    function tableToCSV() {

        // Variable to store the final csv data
        let csv_data = [];

        // Get each row data
        let rows = document.getElementsByTagName('tr');
        for (let i = 0; i < rows.length -1; i++) {

            // Get each column data
            let cols = rows[i].querySelectorAll('td,th');

            // Stores each csv row data
            let csvrow = [];
            for (let j = 0; j < cols.length; j++) {

                // Get the text data of each cell
                // of a row and push it to csvrow
                csvrow.push("\""+cols[j].innerHTML+"\"");

            }

            // Combine each column value with comma
            csv_data.push(csvrow.join(","));
        }

        // Combine each row data with new line character
        csv_data = csv_data.join('\n');

        // Call this function to download csv file  
        downloadCSVFile(csv_data);

    }

    function downloadCSVFile(csv_data) {

        // Create CSV file object and feed
        // our csv_data into it
        CSVFile = new Blob([csv_data], {
            type: "text/csv"
        });

        // Create to temporary link to initiate
        // download process
        let temp_link = document.createElement('a');

        // Download csv file
        temp_link.download = "GfG.csv";
        let url = window.URL.createObjectURL(CSVFile);
        temp_link.href = url;

        // This link should not be displayed
        temp_link.style.display = "none";
        document.body.appendChild(temp_link);

        // Automatically click the link to
        // trigger download
        temp_link.click();
        document.body.removeChild(temp_link);
    }
  </script>
</html>