<div id="parent-div">
  <div class="row g-1 mb
<div class=" row justify-content-md-center">
    <div class="col-md-12 center-block" align="center">
      <h1>{{ reg_type|capitalize }} Registration Form</h1>
    </div>
  </div>
  <form hx-post="/register?reg_type={{ reg_type }}" hx-trigger="submit" hx-target="#parent-div" hx-swap="outerHTML"
    hx-replace-url="true" hx-push-url="true" enctype=multipart/form-data id="eventRegistration">
    {% include "partials/form_common.html" %}
    {% if reg_type == 'competitor' %}
    {% if enable_address %}
    {% include "partials/form_address.html" %}
    {% endif %}
    {% include "partials/form_class.html" %}
    {% include "partials/form_parent.html" %}
    {% if enable_badges %}
    {% include "partials/form_profile.html" %}
    {% endif %}
    {% endif %}
    {% include "partials/form_school.html" %}
    {% if reg_type == 'competitor' %}
    {% include "partials/form_belt.html" %}
    {% include "partials/form_events.html" %}
    {% include "partials/form_total.html" %}
    {% include "partials/form_medical.html" %}
    {% include "partials/form_liability.html" %}
    {% endif %}
    <div class="row g-3 mt-2">
      <div class="col-sm-2">
        <button id="submit_btn" type="submit" class="btn {{ button_style }}">Register</button>
      </div>
    </div>
  </form>
  {% include "partials/form_lookup_modal.html" %}
  {% include "partials/script_okgp_prices.html" %}
</div>