<div class="row g-1 mb-3">
    <div class="col-md-12 center-block" align="center">
        <h1>Candlewood Suites Tulsa Hills - Jenks</h1>
    </div>
</div>
<div class="row g-1 mb-3">
    <div class="col-sm-4 center-block"></div>
    <div class="col-sm-4 center-block" align="center">
        <img class="img-fluid"
            src="https://digital.ihg.com/is/image/ihg/candlewood-suites-jenks-7903661960-4x3?wid=733" />
    </div>
    <div class="col-sm-4 center-block"></div>
</div>
<div class="row g-1 mb-3">
    <div class="col-md-12 center-block" align="center">
        We have 30 double bed rooms priced at $110. <br />
        Reservations must be made via phone by <em>March 20, 2026</em>. <br />
        Reference block code <b>OKGP</b>. <br />
        <br />
        Phone: <a href="tel:+18772263539">(877) 226-3539</a> <br />
        <a href="https://www.ihg.com/candlewood/hotels/us/en/jenks/tulcj/hoteldetail">Hotel Information</a>
        <!-- <a class="btn {{ button_style }}" href="{{ hotel_url }}" role="button" target="_blank">Book Now</a> -->
    </div>
</div>