{% extends "base.html" -%}
{% block content -%}
<div class="row g-1 mb-3">
    <div class="col-sm-4 center-block" align="center"></div>
    <div class="col-sm-4 center-block" align="center">
        <a class="btn {{ button_style }}" href="{{ information_booklet_url }}" role="button" target="_blank">Information
            Packet</a>
    </div>
    <div class="col-sm-4 center-block" align="center"></div>
</div>
<div class="row g-1 mb-1 justify-content-md-center">
    <div class="col-md-12 center-block" align="center">
        {% for image in additional_imgs %}
        <img src="{{ image }}"" class=" img-fluid"><img><br />
        {% endfor %}
    </div>
</div>
{%- endblock content %}