{% extends "base.html" -%}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-2 center-block" align="center">
        <div class="row">
            <h3>Login</h3>
            <form method="POST" action="/login">
            <div class="row">
                <input class="form-control" type="email" name="email" placeholder="Your Email" autofocus="" required>
            </div>
            <div class="row">
                <input class="form-control" type="password" name="password" placeholder="Your Password" required>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <input type="checkbox" name="remember" type="rememberCheckbox">
                </div>
                <div class="col-sm-9">
                    <label for="rememberCheckbox" class="form-check-label">Remember me</label>
                </div>
            </div>
            <div class="row mt-2">
                <button class="btn {{ button_style }}">Login</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- {% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<form method="POST" action="/login"> -->
{% endblock %}