{% extends "base.html" -%}
{% block content -%}
<div class="row justify-content-md-center">
  <div class="col-md-12 center-block" align="center">
    <h1>Additional Items</h1>
    <p>Please purchase tickets and t-shirts here.</p>
    <p>
    <h5>Tickets are $25 each</h5>
    Required for ages 2 years and up.
    </p>
    <p>
    <h5>T-shirts are $25</h5>
    There will be a meet and greet after the performance <br />where the members of the Yongin Demonstration Team
    will <b>autograph the t-shirts</b>!
    </p>
  </div>
</div>
<form action="/purchase" method="post" enctype=multipart/form-data id="eventRegistration">
  <input class="form-control" type="text" name="regType" id="regType" value="purchase" hidden required>
  {% include "partials/form_common.html" %}
  {% include "partials/form_tshirts.html" %}
  {% include "partials/form_tickets.html" %}
  {% include "partials/form_total.html" %}
  <div class="row g-3 mt-2">
    <div class="col-sm-2">
      <button type="submit" class="btn {{ button_style }}">Purchase</button>
    </div>
  </div>
</form>
{% include "partials/form_lookup_modal.html" %}
{% include "partials/script_okc_prices.html" %}
{%- endblock content %}