<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Submitted</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='gdtkd_logo.png') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link src="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  <link src="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<script src="{{ url_for('static', filename='js/global.js') }}"></script>
<body>
  <div class="container">
    <h1>Registration Submitted Successfully!</h1>
    <p>
      We look forward to seeing you at the competition!<br> 
      You should receive an email with your registration confirmation and credential.
    </p>
    <p>
      You can us at <a href="mailto:{{ email }}">{{ email }}</a> if you have questions or issues.
    </p>
    <p>
      Thanks,
      {{ org }}
    </p>
    <p>
      <a class="btn btn-primary" href="/register" role="button">Register Another?</a>
    </p>
  </div>
</body>