{% extends "base.html" -%}
{% block content -%}
<div class="row justify-content-md-center">
    <div class="col-md-12 center-block" align="center">
        <h1>Tulsa Premium Outlet Mall</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>
            <b>Distance from venue: 1.5 miles (~7 min drive)</b>
        </p>
        <p>
            Tulsa Premium Outlets is a shopping center located in Jenks, Oklahoma. It is open Monday through Saturday
            from 10:00 AM to 8:00 PM and Sunday from 11:00 AM to 6:00 PM. The center has a variety of popular designer
            and lifestyle brand-name outlet stores, as well as a children's play area. It is wheelchair accessible and
            has free parking.
        </p>
        <p>
            You can find more information about the center on their <a
                href="https://www.premiumoutlets.com/outlet/tulsa" target="_blank">website</a> or by calling <a
                href="tel:9185288940">918-528-8940</a>.
        </p>
    </div>
    <div class="col-md-6">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3227.2251401226995!2d-95.96274400000001!3d36.0147952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b6911381b4f38b%3A0xf3737d7117564428!2sTulsa%20Premium%20Outlets!5e0!3m2!1sen!2sus!4v1735938045134!5m2!1sen!2sus"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-12 center-block" align="center">
        <h1>Oklahoma Aquarium</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>
            <b>Distance from venue: 1.5 miles (~7 min drive)</b>
        </p>
        <p>
            The Oklahoma Aquarium is located at 300 Aquarium Dr, Jenks, OK 74037. It is open Monday through Friday from
            10:00 AM to 6:00 PM, Saturday from 10:00 AM to 9:00 PM, and Sunday from 10:00 AM to 6:00 PM. The aquarium
            has a variety of exhibits, including a walk-through tunnel where you can see sharks and stingrays, a coral
            reef tank, and a touch pool. The aquarium also offers educational programs and special events.
        </p>
        <p>
            You can learn more about the aquarium on their <a href="http://www.okaquarium.org/">website</a> or by
            calling <a href="tel:9182963474">918-296-3474</a>.
        </p>
    </div>
    <div class="col-md-6">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3227.0175432801225!2d-95.957281!3d36.019865!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b691644625c139%3A0xb62deb15e43cb12e!2sOklahoma%20Aquarium!5e0!3m2!1sen!2sus!4v1735938602715!5m2!1sen!2sus"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-12 center-block" align="center">
        <h1>Riverwalk Crossing</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>
            <b>Distance from venue: 0.6 miles (~3 min drive)</b>
        </p>
        <p>
            Riverwalk Crossing is a lifestyle center located in Jenks, Oklahoma. It is open Monday through Sunday from
            8:00 AM to 10:00 PM. The center has a variety of shops, restaurants, and entertainment options. It is also
            home to the Riverwalk Trail, a 3.5-mile trail that follows the Arkansas River.
        </p>
        <p>
            You can find more information about the center on their <a href="http://riverwalktulsa.com"
                target="_blank">website</a> or by calling <a href="tel:9185186675">918-518-6675</a>.
        </p>
    </div>
    <div class="col-md-6">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6453.570122351659!2d-95.95822899999999!3d36.02554179999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b69160247cd6bb%3A0xa38b8ba30f98c740!2sRiverwalk%20Crossing!5e0!3m2!1sen!2sus!4v1735938718112!5m2!1sen!2sus"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-12 center-block" align="center">
        <h1>Tourism Sites</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>
            You can find additional things to do on each city's travel site.
            <li><a href="https://discoverjenks.com/things-to-do/">Jenks</a></li>
            <li><a href="https://www.bixbyok.gov/432/Things-to-Do-in-Bixby">Bixby</a></li>
            <li><a href="https://www.visittulsa.com/things-to-do/">Tulsa</a></li>
        </p>
    </div>
    <!-- for testing, app.py will send 'reg_detail' to display here -->
    {{ reg_detail }}
    {%- endblock content %}