name: Main Frontend Tests

on:
  push:
    branches:
    - "main"
    - "env/okgp"
    - "env/okc-chmp"
  pull_request:

permissions:
  id-token: write
  contents: read

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Install uv
      uses: astral-sh/setup-uv@v3
      with:
        # Install a specific version of uv.
        version: "0.6.3"

    - name: Set up Python
      run: uv python install

    - name: Install the project
      run: uv sync --all-extras --dev

    - name: Set ENVIRONMENT variable based on branch
      run: |
        BRANCH_NAME="${{ github.ref_name }}"
        if [[ "$BRANCH_NAME" == "main" || "$BRANCH_NAME" == "env/okgp" ]]; then
          echo "ENVIRONMENT=OKGP" >> "$GITHUB_ENV"
        else
          echo "ENVIRONMENT=OKCC" >> "$GITHUB_ENV"
        fi
      shell: bash

    - name: Run Frontend Tests
      uses: ./.github/workflows/frontend_tests.yml
      with:
        environment: $ENVIRONMENT
